{
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "singleQuote": false,
  "printWidth": 100,
  "endOfLine": "lf",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^@core/(.*)$",
    "^@modules/(.*)$",
    "^@shared/(.*)$",
    "^[./]"
  ],
  "importOrderParserPlugins": ["jsx", "typescript", "decorators-legacy"]
}
